@import "_nullstyle";
body {
   background: url("../img/bg.png") 50% 150px no-repeat;
}
.content {
   padding: 168px 0 137px 0;
   max-width: 841px; // вказуємо максимальну ширину яка дозволяє центрувати content marginom
   margin: 0 auto;
}
.content-top {
   text-align: center; // прописуємо центрування текста в коробочку в якій він є
   margin: 0px 0px 65px 0px;
}
.content-top__category {
   font-family: Arial;
   font-size: 14px;
   line-height: 2.86;
   letter-spacing: 5px;
   text-align: center;
   color: rgba(39, 61, 70, 0.6);
   margin: 0px 0px 15px 0px;
   text-transform: uppercase;
}
.content-top__title {
   font-size: 36px;
   line-height: 1.39;
   letter-spacing: normal;
   color: #273d46;
}
.content__img {
   box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
   background-color: #fff;
   padding: 10px;
   margin: 0px 0px 85px 0px;
}
.content__img img {
   max-width: 100%; // говорить картинці, що вона може бути не ширша 100% батька,якщо закажчик вставить картинку ширше, то вона не зламає вертску а підстроїться
}
.content-bottom {
   padding: 0px 45px;
}
.content-bottom__text {
   font-size: 24px;
   line-height: 1.67;
   color: #606c72;
}

.content-bottom__text p {
   margin: 0px 0px 48px 0px;
}
.content-bottom__text p:last-child {
   margin: 0px 0px 0px 0px;
}
.content-bottom-info {
}
.content-bottom-info-list {
   margin: 0px 0px 59px 0px;
}
.content-bottom-info-list li {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin: 0px 0px 18px 0px;
   background: url("../img/icons/check.png") left no-repeat;
   padding: 0px 0px 0px 36px;
}

.content-bottom-info-list li:last-child {
   margin: 0px;
}
.content-bottom-info-list li:nth-child(1) {
   text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
   font-size: 20px;
   line-height: 1.8;

   color: #273d46;
}
.content-bottom-info-list li:nth-child(2) {
   font-size: 20px;
   line-height: 1.8;
   color: #80b7b3;
   font-style: italic;
}
.content-bottom-info-list li:nth-child(3) {
   font-size: 20px;
   line-height: 1.8;
   letter-spacing: normal;
   color: #273d46;
   font-weight: bold;
}
.content-bottom-info-list li:nth-child(4) {
   font-size: 20px;
   line-height: 1.8;
   color: rgba(39, 61, 70, 0.3);
   text-decoration: line-through;
}

.content-bottom-info-list li:nth-child(4) span {
   opacity: 0.3;
}
.content-bottom-info__link {
   display: inline-block; // робить з <a> блочний тег з шириною рівною контенту
   height: 44px;
   padding: 0px 30px;
   background-color: #80b7b3;

   box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);

   line-height: 44px; // центрує кнопку
   border-radius: 24px;

   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   color: #fff;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.content-bottom-info__link span {
   background: url("../img/icons/arrow.svg") right no-repeat;
   padding-right: 32px;
}
.content-bottom-info__link:hover {
   background: #7cd2da; // ефект при наведенні
}
.content-bottom-info__link:active {
   position: relative; // ефект при нажатті
   top: 3px;
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
